.wrapper img {
  display: block;
  max-width: 100%;
}

.gallery__img img {
  display: block;
  width: 750px;
  height: 325px;
  border-style: solid;
  margin: 10px 5px 10px 50px;
}

.gallery__img p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-radius: 120px;
  border: solid;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  font-size: 24px;
  margin-right: 10px;
  margin-left: 27px;
  width: 700px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  height: 125px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

   @media screen and (min-width: 1200px) {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
   }
}

.gallery__img {
   @media screen and (min-width: 1200px) {
    min-width: auto;
   }
}
