header {
  background-color: rgb(203, 159, 115);
  width: auto;
  height: 100px;
}

.header-img {
  width: 75px;
  height: 75px;
  margin: auto;
  position: relative;
  top: 10px;
  left: 20px;
}

.buttões {
  height: 160px;
}

.button-menu {
  background-color: rgb(203, 159, 115);
  position: relative;
  border: none;
  top: -40%;
  right: 0cm;
  float: right;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
}

.button-menu:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.onome {
  margin-left: 100px;
  margin-top: -50px;
}

.gallery {
  display: flex;
  margin-top: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
}

.gallery__img img {
  display: block;
  height: 360px;
  width: 700px;
  border-style: solid;
  margin: 10px 5px 48px 72px;
}

.gallery__img p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-radius: 120px;
  border: solid;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  font-size: 20px;
  margin-right: 10px;
  margin-left: 27px;
  width: 700px;
  padding-left: 45px;
  padding-right: 45px;
  height: 125px;
  margin-top: 40px;
  margin-bottom: 88px;
}

/* Estilos específicos para dispositivos móveis (largura máxima de 768px) */
@media only screen and (max-width: 768px) {
  header {
    height: 110px;
  }

  .buttões {
    height: 72px;
  }

  .onome {
    margin-left: 100px;
    margin-top: -55px;
  }

  .gallery__img {
    margin-right: 15px;
  }

  .gallery__img img {
    margin-left: 0;
    width: 380px;
    height: 260px;
    margin-right: 0;
  }

  .gallery__img p {
    margin-left: 0;
    margin-right: 0;
    border: none;
    font-size: 20px;
    padding-right: 0;
    padding-left: 0;
    width: 380px;
    height: 130px;
  }
}

::-webkit-scrollbar {
  background-color: coral;
  width: 50px;
  height: 20px;
}

::-webkit-scrollbar-button {
  color: burlywood;
}