header {
    background-color: rgb(203, 159, 115);
    width: auto;
    height: 100px;
  }
  
  .header-img {
    width: 75px;
    height: 75px;
    margin: auto;
    position: relative;
    top: 10px;
    left: 20px;
  }
  
  .buttões {
    height: 160px;
  }
  
  .button-menu {
    background-color: rgb(203, 159, 115);
    position: relative;
    border: none;
    top: -40%;
    right: 0cm;
    float: right;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
  }
  
  .button-menu:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .onome {
    margin-left: 100px;
    margin-top: -50px;
  }

  .titulo {
    font-family: papyrus;
    font-size: 64px;
    margin: 12px 0 4px 120px;
  }
  
  .img_esq, .img_dir {
    width: 560px;
    border-radius: 24px;
    margin: 16px;
  }
  
  .info, .info_2 {
    width: 56%;
    text-align: justify;
    font-size: 24px;
    border-color: brown;
    border-radius: 12px;
    margin: 0 24px;
    border-width: 6px;
    border-style: double;
    padding: 8px;
    position: absolute;
    right: 0;
  }

  #i-1 {
    top: 9cm;
  }
  
  #i-2 {
    top: 20.5cm;
  }

  #i-3 {
    top: 29.5cm;
  }

  div {
    height: auto;
  }