.imagem_página_principal{
  height: 350px;
  width: 500px;
}
.principal{
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
}
.citação{
  text-align: justify;
  margin-left: 60%;
  font-size: 18px;
}